h1 Create A New Message

a(href="/") Go back home

form(action="/new", method="post") 
  label Name
  br

  input(name="author", placeholder="Enter your name")
  br

  label Message
  br

  input(name="text", placeholder="Enter your message")
  br

  button(type="submit") Submit